Repository GenerationSoftware/pt-v5-claimer: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run hint

Add documentation
  .gitignore
  src/Claimer.sol
Due: npm run format, npm run hint

MIT license
  LICENSE
  README.md
Due: npm run format

Add method to set number of prizes claimed
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Update coverage badge
  README.md
Due: npm run format

MIT spdx claimer
  src/Claimer.sol
Due: npm run format, npm run hint

Update README.md
  README.md
Due: npm run format

Updated Claimer to use 0.8.19
  foundry.toml
  remappings.txt
  src/Claimer.sol
  src/libraries/LinearVRGDALib.sol
  test/Claimer.t.sol
  test/libraries/LinearVRGDALib.t.sol
  test/wrappers/LinearVRGDALibWrapper.sol
Due: npm run format, npm run hint

Updated prb-math
  .gitmodules
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

revert if claim arrays mismatch
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Added protection for min fee max fee
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Renamed error
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Added minFee and silently skip already claimed prizes
  .gitmodules
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

PR Comments
  .gitmodules
  src/Claimer.sol
Due: npm run format, npm run hint

Altered max fee so that its a function of each tier prize size
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Fixed comments
  src/Claimer.sol
Due: npm run format, npm run hint

fix(LinearVRGDALib): remove unused imports
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

Update coverage.yml PR permissions to 'write'
  .github/workflows/coverage.yml
Due: npm run format

Fixed build
  remappings.txt
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Fixed comment
  src/Claimer.sol
Due: npm run format, npm run hint

Fixed readme
  README.md
Due: npm run format

Gracefully handle claim error
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

Removed console2
  src/Claimer.sol
Due: npm run format, npm run hint

update deps
  .gitmodules
Due: none

use SafeCast in LinearVRGDALib
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

add zero address prize pool check
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

uint => uint256
  src/Claimer.sol
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

chore(package): update deps and prettier config
  .prettierrc
  package.json
Due: npm run format

chore(claim): add comment about _winners.length
  src/Claimer.sol
Due: npm run format, npm run hint

fix(claim): cache variable outside loop
  src/Claimer.sol
Due: npm run format, npm run hint

fix(LinearVRGDA): inline getMaximumPriceDeltaScale
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

update solidity version
  .solhint.json
  test/Claimer.t.sol
  test/libraries/LinearVRGDALib.t.sol
  test/wrappers/LinearVRGDALibWrapper.sol
Due: npm run format, npm run hint

formatter doing formatting things
  package-lock.json
  src/Claimer.sol
  src/libraries/LinearVRGDALib.sol
Due: npm run format, npm run hint

add option to bypass fee calculation to save gas
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

add zero address check
  src/Claimer.sol
  test/Claimer.t.sol
Due: npm run format, npm run hint

forge install: pt-v5-claimable-interface
  .gitmodules
Due: none

Path conditions:
  npm run format: any of: *.{json,md,sol,yml}
  npm run hint: any of: *.sol
